/*5.- Definir una CSS donde establezca que el tipo de letra es Verdana y tama침o 8 en los
p치rrafos. Definir dos p치ginas que utilicen esa hoja de estilo de las cuales una debe redefinir
el tama침o de letra a 10.*/


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
}


.pagina-especifica p {

    font-size: 10px;
  }