body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(150deg, #4cc745, #5c52a4);/*fondo degradado*/
    height: 100vh;/*vh en relacion al alto de la ventana*/
    box-sizing: border-box;
}

.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     width: 400px;
     height: 400px;
   border: inset;
    border-radius: 10px;
    padding: 50px 50px;
    box-sizing: border-box;
}
 #titulo{
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
    
}
.datos input{
    width:140px;
 
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border:none ;/*Elimina el borde del campo de entrada.*/
}

.datos label{
   font-size: 18px;

}

.boton {
    width:30%;
    height: 30px;
    border: 1 px solid;
    background:  #55b56e;
    border-radius: 15px;
    font-size: 18px;
    color: rgb(2, 2, 2);
    cursor: pointer;/*Cambia el cursor a una mano cuando se coloca sobre el campo */
    margin-bottom: 15px;

    
}
select{
    border-radius: 15px;
    width:140px;
    height: 30px;
    text-align: center;
    font-size: 16px;

}

